# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.csv
*.json
*.jsonl
*.jsonl.gz
*.jsonl.tar.gz
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
.vscode
GoogleNews-vectors-negative300.bin
GoogleNews-vectors-negative300.bin.gz